body {
	padding-top: 10px;
	background: url('http://api.thumbr.it/whitenoise-361x370.png?background=E6E2AFA&noise=626262&density=15&opacity=15');
	font-family: 'Quicksand', sans-serif;
	color: #002F2F;
}

a {
  background-color: #046380 ! important;
}

.bigButton {
	line-height: 60px;
	margin-bottom: 10px;
	padding: 10px 0px;
}

.btn-selected {
	white-space: inherit ! important;
  color: #fff ! important;
}

.btn-selected:hover {
  color: #fff ! important;
}

.cat:hover{
  color: #fff ! important;
}

.cat:focus{
  color: #fff ! important;
}

.cat {
	text-align: left;
  color: #fff;
  background-color: #4D4F4E ! important; 
}

.spinner {
  width: 150px;
  height: 150px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

.mainpagetitle {

  font-weight: normal;
  font-family: 'Cutive', serif;;
}
