body {
	padding-top: 70px;
	background: url('http://api.thumbr.it/whitenoise-361x370.png?background=c94e4e&noise=626262&density=15&opacity=15');
}

.bigButton {
	line-height: 200px;
	margin-bottom: 10px;
}