body {
	padding-top: 10px;
	background: url('http://api.thumbr.it/whitenoise-361x370.png?background=c94e4e&noise=626262&density=15&opacity=15');
}

.bigButton {
	line-height: 90px;
	margin-bottom: 10px;
}

.btn-selected {
	background-color: #BABABA;
	white-space: inherit ! important;
}

.btn-selected:hover {
	background-color: #E6E6E6;
}

.cat {
	text-align: left;
}