<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Live Trip</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
	
	<div class="container-fluid">

		<div id="prefV" class="hidden">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Categories:</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
		  			<a id="save" href="#" class="btn btn-success btn-block btn-lg bigButton" style="margin-bottom: 4px;">Save</a>
		  		</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
		  			<a id="cancel" href="#" class="btn btn-warning btn-block btn-lg" style="margin-bottom: 10px;">Cancel</a>
		  		</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-s-6 col-md-6 text-center">
		  			<a id="select" href="#" class="btn btn-lg btn-success">Select All</a>
		  		</div>
		  		<div class="col-xs-6 col-s-6 col-md-6 text-center">
		  			<a id="remove" href="#" class="btn btn-lg btn-success">Remove All</a>
		  		</div>
			</div>
			<br />
			{% for cat in categories %}
			<div class="row">
		  		<div class="col-md-12 text-center">
		  			<a id="{{cat}}" href="#" class="cat btn btn-default btn-block btn-lg">{{cat}}</a>
		  		</div>
		  	</div>
		  	{% endfor %}
		  	<br />
		  	<div class="row">
				<div class="col-md-12 text-center">
		  			<a id="reset" href="#" class="btn btn-warning btn-block btn-lg">Clear Preferences</a>
		  		</div>
			</div>
		</div>
		<div id="main" class="">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Tune into:</h1>
				</div>
			</div>
			<div class="page-header text-center">
				<h1 id="station">&nbsp;</h1>
			</div>
		  	<div class="row">		  		
		  		<div class="col-md-12 text-center">
		  			<a id="find" href="#" class="btn btn-primary btn-block btn-lg bigButton">New Stations</a>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col-md-6 col-sm-6 col-xs-6 text-center">
		  			<a id="last" href="#" class="disabled btn btn-primary btn-block btn-lg bigButton">&lt;</a>
		  		</div>
		  		<div class="col-md-6 col-sm-6 col-xs-6 text-center">
		  			<a id="next" href="#" class="disabled btn btn-primary btn-block btn-lg bigButton">&gt;</a>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col-md-12 text-center">
		  			<a id="learn" href="#"  class="btn btn-primary btn-block btn-lg bigButton">Learn the Land</a>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col-md-12 text-center">
		  			<a id="prefs" href="#"  class="btn btn-primary btn-block btn-lg bigButton">Preferences</a>
		  		</div>
		  	</div>
		  </div>
	</div>


  	<!-- Javascript loads -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
