<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Live Trip</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Tune to:</h1>
			</div>
		</div>
		<div class="page-header text-center">
			<h1 id="station">107.3</h1>
		</div>
	  	<div class="row" style="height: 20%;">
	  		<div class="col-md-12 text-center">
	  			<a id="find" href="#" class="btn btn-primary btn-block btn-lg bigButton">Find Station</a>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="col-md-12 text-center">
	  			<a id="prefs" href="#"  class="btn btn-primary btn-block btn-lg bigButton">Preferences</a>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="col-md-12 text-center">
	  			<a id="learn" href="#"  class="btn btn-primary btn-block btn-lg bigButton">My Surroundings</a>
	  		</div>
	  	</div>
	</div>


  	<!-- Javascript loads -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='/js/main.js')}}"></script>
  </body>
</html>
